<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="/styles.css">
   
    <title>To do list</title>
</head>
<body>

<div class="box" id="heading">
   
    <h1> <%= listtitle %> </h1>
</div>    
   
<div class="box">
      <% for(var i=0; i<Newlistitem.length; i++){ %>
<div class="item">
    <input type="checkbox">
    <p><%= Newlistitem[i] %></p>

</div>
    <% } %>

    <form class="item" action="/" method="post" > 
        <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= listtitle %>>+</button>
    </form>
</div>


        <form action="/work" class="work">
            <button type="submit" class="button"> <span>work list</span> </button>
        </form>
   





</body>
</html>

